{% extends 'blog/base.html' %}



{% block content %}
 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% for post in posts %}
                    {% autoescape off %}

                    <div class="post-preview">
                        <a href= {{ post.get_absolute_url }}>
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.subtitle }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ post.author.username }}</a> {{ post.created }}</p>
                    </div>

                    {% endautoescape  %}

                    <hr>

                    {% empty %}
                    <p>Статей не обнаружено :(</p>
                {% endfor %}


               {% if page_obj.has_next and page_obj.has_previous  %}
                <ul class="pager">
                    <li class="next">
                        <a href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
                    </li>
                    <li class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}">&larr; Next Posts</a>
                    </li>

                </ul>


               {% elif page_obj.has_next%}

                <ul class="pager">
                    <li class="next">
                        <a href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
                    </li>

                </ul>

                {% elif page_obj.has_previous %}
                    <ul class="pager">
                    <li class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}">&larr; Next Posts</a>
                    </li>
                </ul>

                {% endif %}

            </div>
        </div>
    </div>
    <div class="scrollUp">&uarr;</div>
{% endblock %}